{% extends 'emails/base_email.html' %}

{% block title %}Your Password Has Been Changed{% endblock %}

{% block content %}
    <h2>Password Successfully Changed</h2>
    <p>Hello {{ user.get_full_name|default:user.username }},</p>
    <p>This is a confirmation that the password for your SmartFarm account has been successfully changed.</p>
    
    <div style="text-align: center; margin: 30px 0;">
        <a href="{{ login_url }}" class="button" style="background-color: #4CAF50;">
            Sign In to Your Account
        </a>
    </div>
    
    <p><strong>Security Tip:</strong> If you didn't make this change or believe an unauthorized person has accessed your account, please reset your password immediately and contact our support team.</p>
    
    <p>For your security, this email was sent to {{ user.email }}. If you received this email but didn't request a password change, please <a href="mailto:support@smartfarm.com">contact us</a> immediately.</p>
    
    <p>Best regards,<br>The SmartFarm Security Team</p>
{% endblock %}
